* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

header{
	width:100%;
}
.coloru{
	color: #03940D;
}

div {
	width:1000px;
	margin:30px auto;
	overflow:hidden;
	border-radius:4px;
	border-color: #61c419;
	border-style: none;
}

button{

	margin-bottom:1px;
	 border: none;
 	background: #3a7999;
 	color: #f2f2f2;
 	padding: 10px;
 	font-size: 18px;
 	border-radius: 15px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 500ms ease;


}
border-left: none;
}

.menu li a{
	color: #fff;
	display:block;
	font-family:"Myrian pro", Arial;
	font-size: 14px;
	padding: 10px 0;
	text-align:center;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3);
}

.menu li: hover{
	background: rgba(0,0,0,.3);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;

}


.opcionGeneral {
	width:85%;
	display:table;
	table-layout:fixed;
	float:left;
	transition:all .5s ease;
}

.opcionGeneral form{
	display:table-cell;
	overflow:hidden;
	width: 400%;
	color: #0F122E;
	background-color:#FCF8FE;
	border-right:1px solid rgba(255,255,255,.2);
	border-left: 1px solid rgba(255,255,255,.2);
}

.opcionGeneral input{
	width: 100%;
	height:auto;
	margin: auto;
	opacity: 0.6;
	border-radius:50px;
	border: none;
	background: #fff;
	box-shadow: none;
	border-bottom: 1px solid #858585;
	height: 30px;
	box-sizing: border-box;
	display:block;
	padding: 10px 0;
	font-family:"Myrian pro", Arial;
	font-size: 14px;
	text-align:center;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3);
	
}
.marcaDeAgua{
	width: 100%;
	height:auto;
	margin: auto;
	opacity: 0.6;
}